notebook
jupyterlab
jupyter-book==0.15.1
jupyterlab-lsp
jupyterlab-git
vpython
ipython
jupyter-collaboration
jupyterlab-link-share
jupyterlab_vpython
pandas
numpy
matplotlib
xlsxwriter
openpyxl
scienceplots
scipy
scikit-learn
